/* For large scale adjustments */
.container{
  text-align: center;
  position: relative;
}
body {
  background-image: url("../img/SPQR.png");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* For Jumbotron */
.jumbotron h1 {
  color: white;
  text-align: center;
}
.jumbotron{
  background-image: url("../img/thumb.gif");
  background-size: cover;
  background-position: center;
}

/* For Nav Items and Links */
.nav-item{
  display: flex; justify-content: center;
  background-color: #9E6DAFbb;
  border-radius: 20px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin: 20px;
}
.nav-item:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 5px 10px #7851a9;
  border-radius: 20px;
  background-color: black;
}
.nav-item a{
  color: #942017;
  font-weight: bolder;
}
.nav-item a:hover{
  color: #9E6DAF;
}

.nav-pills {
  display: flex; justify-content: center;
}

/* For input and results*/
#num{
  font-size: 2em;
  text-align: center;
}
#result{
  font-size: 20em;
  text-shadow: 10px 10px #58037688;
  text-align: center;
  overflow-wrap: break-word;
}

input{
  height: 50px;
  background-color: #9E6DAF99;
  border-radius: 25px;
}

/* For word adjustments */
h2{
  color: black;
  text-shadow: 5px 5px #58037688;
}

/* For Scrollbar */
::-webkit-scrollbar {
  width: 20px;
  background-color: #942017;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 125px;
}
::-webkit-scrollbar-thumb {
  background: #9E6DAF99;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7851a9;
  border-radius: 25px;
}
